<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lessons Page</title>
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
            integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="lesson.js"></script>
</head>
<body>
<div id="app">
    <div class="container-fluid" v-if="isProductPage">
        <div class="row">
            <nav class="col-2 d-none d-md-block bg-light sidebar">
                <div class="mt-3">
                    <h4>Sort by:</h4>
                    <select class="form-control">
                        <option value="Subject">Subject</option>
                        <option value="Location">Location</option>
                        <option value="Price">Price</option>
                        <option value="Spaces">Availability</option>
                    </select>
                    <br/>
                    <div class="col">
                        <h4>Order:</h4>
                        <input class="form-check-input" type="radio">
                        <label> Ascending </label>
                        <br/>
                        <input class="form-check-input" type="radio">
                        <label>Descending</label>
                    </div>
                </div>
            </nav>
            <main class="col-10 pt-3 px-4">
                <div class="row">
                    <div class="col-6 mx-auto mt-2 mb-2 text-center search-bar">
                        <input type="text" class="form-control" placeholder="Search lessons">
                    </div>
                    <div class="col-6 text-right">
                            <button class="btn" :style="{'cursor': cart?.length <= 0 ? 'not-allowed' : 'pointer'}" :class="cart?.length > 0 ? 'btn-success' : 'btn-secondary'" :disabled="cart?.length <= 0"
                                    @click="checkout">
                                ( {{cartItemCount}} )<i class="fas fa-shopping-cart"></i> Shopping Cart
                            </button>
                    </div>
                </div>
                <h1>{{title}}</h1>
                <p>{{descriptions}}</p>
                <div class="row">
                    <div class="col-md-4" v-for="lesson in lessons">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h5 class="card-title">Subject: {{ lesson.Subject }}</h5>
                                        <p class="card-text">Location: {{ lesson.Location }}</p>
                                        <p class="card-text">Price: {{ lesson.Price }}</p>
                                        <p class="card-text">Spaces: {{ lesson.Spaces }}</p>
                                    </div>
                                    <div class="text-center">
                                        <i class="fas" :class="lesson.Icon" style="font-size: 2rem;"></i>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" :class="lesson.Spaces <= 0 && 'disabled btn-secondary'"
                                    @click="addToCart(lesson)" :disabled="lesson.Spaces <= 0"
                                    :style="{'cursor': lesson.Spaces <= 0 ? 'not-allowed' : 'pointer'}">Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <div v-else>
        <!--TODO: Checkout page-->
        <p> Checkout page here.</p>
        <p v-for="item in cart">{{item.Subject}}</p>
    </div>
</div>

<script>
    new Vue({
        el: "#app",
        data:{
            title: "Lessons",
            descriptions: "You can choose the lessons here:",
            lessons: LESSONS,
            cart: [],
            isProductPage: true
        },
        methods: {
            addToCart: function(lesson) {
                if (lesson.Spaces > 0) {
                    lesson.Spaces--;
                    this.cart.push(lesson);
                }
            },
            checkout: function() {
                this.isProductPage = false;
            }
        },
        computed: {
            cartItemCount: function() {
                return this.cart.length;
            }
        }
    });
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
