<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lessons Page</title>
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
            integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="lesson.js"></script>
</head>
<body>
<div id="app">
    <div class="container-fluid" v-if="isProductPage">
        <div class="row" style="height: 100vh;">
            <!--Sidebar-->
            <nav class="col-2 d-none d-md-block bg-light sidebar">
                <div class="mt-3">
                    <h4>Sort by:</h4>
                    <select class="form-control" v-model="sortBy">
                        <option value="Subject">Subject</option>
                        <option value="Location">Location</option>
                        <option value="Price">Price</option>
                        <option value="Spaces">Availability</option>
                    </select>
                    <br/>
                    <div class="col">
                        <h4>Order:</h4>
                        <input id="rdoAscending" class="form-check-input" type="radio" v-model="sortOrder" value="1">
                        <label for="rdoAscending" class="form-check-label"> Ascending </label>
                        <br/>
                        <input id="rdoDescending" class="form-check-input" type="radio" v-model="sortOrder" value="-1">
                        <label for="rdoDescending" class="form-check-label">Descending</label>
                    </div>
                </div>
            </nav>
            <!--Product Page-->
            <main class="col-10 pt-3 px-4">
                <div class="row">
                    <div class="col-6 mx-auto mt-2 mb-2 text-center search-bar">
                        <input type="text" class="form-control" placeholder="Search lessons" v-model="searchQuery">
                    </div>
                    <div class="col-6 text-right">
                        <button class="btn" :style="{'cursor': cart?.length <= 0 ? 'not-allowed' : 'pointer'}"
                                :class="cart?.length > 0 ? 'btn-success' : 'btn-secondary'"
                                :disabled="cart?.length <= 0"
                                @click="toCartPage">
                            ( {{cartItemCount}} )<i class="fas fa-shopping-cart"></i> Shopping Cart
                        </button>
                    </div>
                </div>
                <h1>{{title}}</h1>
                <p>{{descriptions}}</p>
                <div class="row">
                    <!--Lesson cards-->
                    <div class="col-md-4" v-for="lesson in displayedLessons">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h5 class="card-title">Subject: {{ lesson.Subject }}</h5>
                                        <p class="card-text">Location: {{ lesson.Location }}</p>
                                        <p class="card-text">Price: {{ lesson.Price }}</p>
                                        <p class="card-text">Spaces: {{ lesson.Spaces }}</p>
                                    </div>
                                    <div class="text-center">
                                        <i class="fas" :class="lesson.Icon" style="font-size: 2rem;"></i>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" :class="lesson.Spaces <= 0 && 'disabled btn-secondary'"
                                    @click="addToCart(lesson)" :disabled="lesson.Spaces <= 0"
                                    :style="{'cursor': lesson.Spaces <= 0 ? 'not-allowed' : 'pointer'}">Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <div v-else>
        <!--Order Submitted Modal-->
        <div id="orderSubmittedModal" class="modal fade" tabindex="-1" role="dialog"
             aria-labelledby="modalLabel"
             aria-hidden="true" v-if="orderSubmitted">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Order Submitted</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Your order has been submitted successfully!</p>
                    </div>
                    <div class="modal-footer">
                        <button @click="backToHome" type="button" class="btn btn-primary" data-dismiss="modal">
                            Back to home
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--Checkout Page-->
        <div class="container-fluid">
            <div class="row mt-3">
                <div class="col-12 text-right">
                    <button class="btn btn-primary" @click="backToHome">
                        <i class="fas fa-home"></i>
                        Back to Home
                    </button>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-12">
                    <h1 class="text-center">Shopping Cart</h1>
                </div>
                <div class="col-12">
                    <h3 v-if="cartItemCount <= 0" class="text-center">Your shopping cart is
                        empty</h3>
                </div>
            </div>
            <div v-if="cartItemCount > 0">
                <div class="row mx-auto">
                    <div class="col-md-3" v-for="item in cart">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h5 class="card-title">Subject: {{ item.Subject }}</h5>
                                        <p class="card-text">Location: {{ item.Location }}</p>
                                        <p class="card-text">Price: {{ item.Price }}</p>
                                        <p class="card-text">Spaces: {{ item.Spaces }}</p>
                                    </div>
                                    <div class="text-center">
                                        <i class="fas" :class="item.Icon" style="font-size: 2rem;"></i>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" @click="removeFromCart(item)">Remove from Cart
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 justify-content-center">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" :class="isNameValid ? 'form-control' : 'form-control is-invalid'"
                                   id="name" v-model="name" @input="validateName">
                            <div id="validateName" class="invalid-feedback" v-if="name && !isNameValid">
                                Please provide a valid name. (Only letters and spaces)
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="phone">Phone number:</label>
                            <input type="text" class="form-control"
                                   :class="isNumberValid ? 'form-control' : 'form-control is-invalid'" id="phone"
                                   v-model="phoneNumber"
                                   @input="validateNumber">
                            <div id="validatePhone" class="invalid-feedback" v-if="phoneNumber && !isNumberValid">
                                Please provide a valid phone number. (Only digits)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 justify-content-center">
                    <div class="col-1">
                        <button class="btn btn-primary" :disabled="!isFormValid" @click="checkOut" data-toggle="modal"
                                data-target="#orderSubmittedModal">
                            Checkout
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    new Vue({
        el: "#app",
        data: {
            title: "Lessons",
            descriptions: "You can choose the lessons here:",
            lessons: LESSONS,
            cart: [],
            isProductPage: true,
            searchQuery: "",
            sortBy: "Subject",
            sortOrder: 1, // ascending
            orderSubmitted: false,
            name: "",
            phoneNumber: "",
            isNameValid: true,
            isNumberValid: true,
        },
        methods: {
            addToCart: function (lesson) {
                if (lesson.Spaces > 0) {
                    lesson.Spaces--;
                    this.cart.push(lesson);
                }
            },
            removeFromCart: function (lesson) {
                lesson.Spaces++;
                this.cart.splice(this.cart.indexOf(lesson), 1);
            },
            toCartPage: function () {
                this.isProductPage = false;
            },
            backToHome: function () {
                // reset everything when user goes back home
                this.isProductPage = true;
                this.isNameValid = true;
                this.isNumberValid = true;
                this.name = "";
                this.phoneNumber = "";
            },
            validateName: function () {
                const nameRegex = /^[A-Za-z\s]+$/; // only letters and spaces
                this.isNameValid = nameRegex.test(this.name)
            },
            validateNumber: function () {
                let phoneRegex = /^[0-9]+$/; // only numbers
                this.isNumberValid = phoneRegex.test(this.phoneNumber);
            },
            checkOut: function () {
                if (this.isFormValid) {
                    this.cart = [];
                    this.name = "";
                    this.phoneNumber = "";
                    this.orderSubmitted = true;
                }
            }
        },
        computed: {
            cartItemCount: function () {
                return this.cart.length;
            },
            displayedLessons: function () {
                let result = this.lessons;
                if (this.searchQuery !== "")
                    result = this.lessons.filter(lesson => {
                        return lesson.Subject.toLowerCase().includes(this.searchQuery.toLowerCase()) || lesson.Location.toLowerCase().includes(this.searchQuery.toLowerCase());
                    });
                return result.sort((a, b) => {
                    return this.sortOrder * (a[this.sortBy] > b[this.sortBy] ? 1 : -1); // ascending sort order
                })
            },
            isFormValid: function () {
                return this.name !== "" && this.isNameValid && this.phoneNumber !== "" && this.isNumberValid;
            }
        }
    });
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
